@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#app {
	height: 100%;
}

body {
	font-family: 'Lexend Deca', sans-serif;
	color: hsl(220 20% 98%);
	background-color: hsl(220 20% 14%);
}
